<div class="container-fluid navegacao p-3 text-right">
    <a asp-controller="Home" asp-action="Index">Início</a> |
    <a asp-controller="Servicos" asp-action="Index">Serviços</a> |
    <a asp-controller="Contato" asp-action="Index">Contato</a>
</div>